:root[data-theme="light"] {
  --bg: #fcfcfc;
  --translucent-bg: #fcfcfc90;
  --text: #171717;
  --primary: #25282c;
  --translucent-primary: #25282c90;
  --secondary: #ededed;
  --translucent-secondary: #ededed90;
  --accent: #00aab3;
  --translucent-accent: #00aab390;
  --reverse-accent: #4df6ff;
  --shadow: #e1e1e1;
  --bg-line: #ededed55;
  --translucent-border: #25282c25;
  --card-1: #ffe4c4;
  --card-2: #6495ed;
  --card-3: #66cdaa;
  --card-4: #fa8072;
  --card-5: #d8bfd8;
  --card-6: #f0e68c;
}

:root[data-theme="dark"] {
  --bg: #171717;
  --translucent-bg: #17171790;
  --text: #fcfcfc;
  --primary: #ededed;
  --translucent-primary: #ededed90;
  --secondary: #25282c;
  --translucent-secondary: #28282890;
  --accent: #4df6ff;
  --translucent-accent: #4df6ff90;
  --reverse-accent: #00aab3;
  --shadow: #0f1111;
  --bg-line: #25282c45;
  --translucent-border: #ededed15;
  --card-1: #9d8463;
  --card-2: #1e90ff;
  --card-3: #008b8b;
  --card-4: #b22222;
  --card-5: #483d8b;
  --card-6: #daa520;
}

:root {
  --header-font: "Noto Sans JP", sans-serif;
  --alternate-font: "Ubuntu", sans-serif;
  --body-font: "Inter", sans-serif;
  --logo-font: "Syne", sans-serif;
  --signature-font: "Mr De Haviland", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  position: relative;
}

.masked-text {
  background-image: url("/main.png");
  background-size: cover;
  background-position: center;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
