:root {
  --bg: #171717;
  --translucent-bg: #fcfcfc90;
  --text: #fcfcfc;
  --primary: #4e4e4e;
  --translucent-primary: #4e4e4e50;
  --secondary: #ededed;
  --translucent-secondary: #ededed50;
  --accent: #00aab3;
  --translucent-accent: #00aab390;
  --reverse-accent: #4df6ff;
  --shadow: #e1e1e1;
  --bg-line: #ededed55;
  --translucent-border: #25282c25;

  --header-font: "Noto Sans JP", sans-serif;
  --alternate-font: "Ubuntu", sans-serif;
  --body-font: "Inter", sans-serif;
  --logo-font: "Syne", sans-serif;
  --signature-font: "Mr De Haviland", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  position: relative;
}